body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 2.6em;
  color: #666;
}

.site-wrapper {
  display: flex;
  flex-flow: column;
}

p {
  margin: 0;
}
h1 {
    margin: 0;
}
::placeholder {
    color: #b2b2b2;
}
a {
    text-decoration: none;
}
.profile-class {
    font-size: 13px;
}
/*----------Nav----------*/
.top-nav {
  margin: 0;
  flex: 1;
  max-height: 132px;
  background-color: #fff;
  position: sticky;
}


#site-nav {
  text-align:center;
}

#site-nav a {
  color: #044C7F;
  display: block;
  text-decoration: none;
  transition: opacity .3s;
}

#site-nav ul {
  margin: 60px 0 0 0;
  display:inline-block;
  list-style: none;
  overflow: hidden;
}

#site-nav li {
  font-size: 24px;
  margin: 0;
  margin-right: 40px;
  display: inline;
  list-style: none;
  float: left;
  font-weight: 700;
}

#site-nav a:hover {
  border-bottom: solid;
  position: relative;
  display: inline;
  margin: 0;
}


#logo {
  height: 56px;
  width: auto;
  margin: 0;
  position: absolute;
  left: 38px;
  top: 38px;
}
/*----------Profile----------*/
.headertopright {
  display: inline-block;
  position: relative;
  float:right;
  margin:0;
  right: 1.25%;
  bottom: 65%;
}

#avatar {
  position: relative;
  float:right;
  right: 0;
}

#headertext {
  position: relative;
  float:right;
  top: 22px;
  right: 10px;
  color: #044C7F;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.0em;
  text-align: right;
}
.saveButton {
    position: relative;
    border-radius: 8px;
    left:  93%;
    background-color: #044C7F;
    color: #fff;
    border-bottom: none;
    height: 25px;
    width: 60px;
}

/*----------Breadcrumbs----------*/
.breadcrumbline {
  display: flex;
  min-height: 23px;
  max-height: 23px;
  background-color: #044C7F;
}

.breadcrumbs {
  flex: 1;
  width: 100%;
  font-size: 12px;
  list-style: none;
  overflow: hidden;
  margin: 0;
}

.breadcrumbs li {
    float: left;
}

.breadcrumbs li a {
  color: white;
  text-decoration: none;
  padding: 10px 30px 10px 40px;
  background: #044C7F;
  position: relative;
  display: block;
  float: left;
  top: -20px;
}

.breadcrumbs li a::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #044C7F;
  position: absolute;
  top: 27%;
  margin-top: 0px;
  left: 100%;
  z-index: 2;
}

.breadcrumbs li a::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid white;
  position: absolute;
  top: 27%;
  margin-top: 0px;
  margin-left: 2px;
  left: 100%;
  z-index: 1;
}

.breadcrumbs li:first-child a {
  padding-left: 40px;
  margin-left: -40px;
}

.breadcrumbs li:last-child a {
  background: transparent !important;
  color: white;
  pointer-events: none;
  cursor: default;
}

.breadcrumbs li:last-child a::after {
  border: 0;
}

.breadcrumbs li:last-child a::before {
  border: 0;
}

.breadcrumbs li a:hover       {
  background: #053756;
}

.breadcrumbs li a:hover:after {
  border-left-color: #053756 !important;
}
/*----------Searchbar----------*/
#pagesearch {
  position: absolute;
  right: 1.25%;
  height: 17px;
  float: right;
  display: block;
  outline: none;
  border: 2px solid #707070;
  border-radius: 12px;
}

.pagesearch-bar {
  width: 0%;
  min-width: 19px;
  -webkit-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
  overflow: hidden;
  background-color: white;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: right;
  text-align: left;
  cursor: pointer;
}

.pagesearch-bar:focus {
  direction: rtl;
  float:right;
  width: 300px;
  right: 100%;
  cursor: text;
}

/*----------Site----------*/
.site-top {
  background-color: #F1F1F2;
  flex: 1;
  width: 100%;
}


/*----------Login----------*/
.login-site-wrapper {
    display: flex;
    flex-flow: column;
    background-image: url('../img/loginBackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login {
    flex: 1;
    max-width: 100%;
}
.kedu-logo {
    width: 169px;
    height: auto;
    display: block;
    margin: 115px auto 0 auto;
}
.login-box {
    max-width: 728px;
    max-height: 419px;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    margin: 120px auto 0 auto;
    padding: 18px;
    background-color: #fff;
}
.email {
    position: relative;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 700;
}
.password {
    position: relative;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 700;
}
.login-box input {
    height: 40px;
    width: 660px;
    margin: 0;
    position: relative;
    border-style: solid;
    border-radius: 11px;
    border-width: 1px;
    border-color: #053756;
    font-size: 18px;
    padding-left: 10px;
}
.login-button, .register-button {
    height: 40px;
    width: 120px;
    color: #fff;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
}
.login-button {
    background-color: #044C7F;
}
.register-button {
    background-color: #216393;
}
.button-form {
    margin: 0;
    width: 120px;
    height: 40px;
    display: inline;
}
/*----------Design----------*/
[id^="content"] {
  position: absolute;
  background-color: white;
  max-width: 75%;
  height: 690px;
  left: 25%;
  top: 156px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

#design-title{
  font-family: 'Cabin Sketch', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #044C7F;
  margin: 30px 15px 30px 0;
}

input#tab1,
input#tab2,
input#tab3,
input#tab4,
input#tab5,
input#tab6,
input#tab7 {
  display: none;
}

label {
  display: block;
  color: black;
  cursor: pointer;
  text-decoration: none;
  background: #F1F2F3;
  line-height: 4.6em;
  width: 25%;
  text-indent: 15px;
}

section {
  display: none;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7 {
  display: block;
}

.design {
  width: 100%;
  max-width: 1824px;
  margin: 0 auto;
}

.design [id^="tab"]:checked + label {
  background: #fff;
}

.subtitle {
  display: inline;
  position: relative;
  left: 10px;
}

.social-bar {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 85px;
  top: 860px;
  border-top: 1px solid #044C7F;
  border-bottom: 4px solid #044C7F;
}

[id^="social-button"] {
  background-color: #044C7F;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  border-radius: 16px;
  top: 30px;
}

.social-container-1 {
  position: absolute;
  float: left;
  left: 25%;
  top: 20%;
}

.social-container-2 {
  position: absolute;
  float: right;
  right: 25%;
  top: 20%;
}

.social-text {
  position: relative;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #044C7F;
  padding-left: 10px;
}

/*----------Comments----------*/

.lesson-comment-section {
  display:block;
  position: absolute;
  left: 0;
  right: 0;
  top: 950px;
  width: 100%;
  max-width: 1824px;
  margin: 0 auto;
  background-color: #fff;
}

.lesson-comment-post {
  position: relative;
  width: 50%;
}

#lesson-comment-header {
  position: relative;
  font-family: 'Cabin Sketch', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #044C7F;
  margin: 30px 15px 30px 0;
}

#lesson-comment-avatar1 {
  position:relative;
}

#lesson-comment-input {
  position: relative;
  left: 10px;
  border: 1px solid #044C7F;
  border-radius: 15px;
  width: 300px;
  height: 50px;
  bottom: 33px;
}

#lesson-comment-input:focus {
  outline: none;
}

.lesson-comments {
}

#lesson-comments-count {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: black;
}

#lesson-comments-divider {
  position: relative;
  height: 0;
  max-height: 0;
  max-width: 393px;
  margin: 0 0 5px 0;
  padding: 0;
  border: none;
  border-bottom: 5px solid #044C7F;
}

.lesson-comment-avatars {
  margin-left: -50px;
}

.lesson-comments-comment {
  position: relative;
  margin-left: 50px;
  margin-top: 20px;
}

/*----------Home----------*/

.site-top-home {
background-color: #FFFFFF;
flex: 1;
width: 100%;
}
.site-top-home a {
    text-decoration: none;
    color:#044C7F;
}
.a-home-side {
    margin-right: 123px;
    max-width: 338px;
    flex: 1;
    margin-left: 5%;
}

.home-video {
  background-color: #F1F1F2;
  flex: 1;
  width: 100%;
  border-bottom: 5px ridge;
  border-color: #226494;
  padding: 1% 10%;
}
.home-news {
  background-color: #FFFFFF;
  border-radius: 5px;
  border-style: ridge;
  border-color: #226494;
  padding: 1%;
  margin: 1%;
}
.post-home {
  background-color: #F1F1F2;
  border-style: solid;
  border-color: #226494;
  padding: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 40px;
  line-height: normal;
}
.home-main {
    flex: 1;
}
.home-h1 {
    font-weight: 700;
    margin: 1%;
    color: #044C7F
}
.post-reference {
  font-weight: bold;
}
.content-home {
  max-width: 984px;
  background-color: #F1F1F2;
  border-style: solid;
  border-color: #226494;
  padding: 20px;
  margin-left: 123px;
  margin-top: 23px;
  margin-bottom: 123px;
}
.site-home-top {
    display: flex;
}
.home-popular, .home-leaderboard {
  background-color: #F1F1F2;
  border-style: solid;
  border-color: #226494;
  padding: 5%;
}
.home-leaderboard {
    margin-top: 23px;
}
.home-popular {
    margin-top: 23px;
}

/*----------Lesson----------*/
.site-code-lesson {
    display: flex;
}
.site-top-lesson {
    background-color: #F1F1F2;
    flex: 1;
    width: 100%;
    height: 100%;
}
.lessonPlan {
    display: flex;
    flex-flow: row;
    margin-top: 50px;
    text-decoration: none;
}
.lessonCode, .lessonSpell, .lessonMath {
    position: relative;
    max-width: 287px;
    min-height: 410px;
    background-color: #fff;
    flex: 1;
    margin-left: 123px;
}
.lessonLiked {
    position: relative;
    max-width: 287px;
    min-height: 410px;
    background-color: #fff;
    flex: 1;
    margin-left: 60px;
}
.lessonCode p, .lessonCode h2, .lessonSpell p, .lessonSpell h2, .lessonMath p, .lessonMath h2, .lessonLiked p, .lessonLiked h2{
    position: relative;
    margin-left: 18px;
    margin-right: 18px;
    font-size: 18px;
}
.site-top-lesson h1 {
    position: relative;
    margin-top: 81px;
    margin-left: 123px;
    font-size: 40px;
    font-family: 'cabinSketch', sans-serif;
    color: #044C7F;
}
.lessonPlan h2 {
    font-weight: 700px;
    color: #044C7F;
}
.lessonPlan p {
    font-weight: 400px;
    color: #000;
    line-height: normal;
    height: 80px;
}
.edit{
    position: absolute;
    margin-top: -30px;
}
.edit-img {
    height: 46px;
    width: auto;
}
.clock {
    margin-left: 20px;
    position: relative;
    display: flex;
    top: 80px;
}
.clock-img {
    height: 20px;
    width: auto;
}
.grade-code {
    margin-left: 20px;
    position: relative;
    display: flex;
    top: 40px;
}
.sub-code {
    margin-left: 20px;
    position: relative;
    display: flex;
    top: 0px;
}
.grade {
    margin-left: 20px;
    position: relative;
    display: flex;
    top: 170px;
}
.grade-img {
    height: 20px;
    width: auto;
}
.sub {
    margin-left: 20px;
    position: relative;
    display: flex;
    top: 130px;
}
.sub-img {
    height: 20px;
    width: auto;
}
.a-side-lesson {
    position: absolute;
    right: 123px;
    width: 338px;
    flex: 1;
  margin-top: 170px;
}
.create-lesson{
  border-radius: 10px;
  border-style: none;
  margin-left: 123px;
  margin-top: 70px;
  margin-bottom: 40px;
  position: relative;
  right: 123px;
  width: 338px;
  height: 30px;
  color: #fff;
  background-color: #044C7F;
}
.filter-lessons {
  background-color: #FFF;
  border-style: ridge;
  border-color: #226494;
  padding: 5%;
  margin-bottom: 40px;
}
.filter-lessons h2{
  margin-top: -10px;
  font-weight: 700px;
  color: #044C7F;
}
.filter-lessons p{
font-weight: 400px;
color: #000;
}
.filter-grade {
  background-color: #FFF;
  border-style: ridge;
  border-color: #226494;
  padding: 5%;
}
.filter-grade h2{
  margin-top: -10px;
  font-weight: 700px;
  color: #044C7F;
}
.filter-grade p{
font-weight: 400px;
color: #000;
}
.check-box {
    position: absolute;
    margin-left: 250px;
    margin-top: -34px;
}
.check-box-img {
    height: 20px;
    width: auto;
}
.slider {
    margin-left: 20px;
    position: relative;
    margin-top: 10px;
}
.slider-img {
    height: 70px;
    width: auto;
}
/*----------Forum----------*/
.site-top-forum {
    display: flex;
}
.forum-main {
    flex: 1;
}
.forum-search {
    width: 500px;
    height: 30px;
    border-radius: 10px;
    margin-left: 123px;
    margin-top: 100px;
}

.forum-h1 {
    font-weight: 700;
    margin: 1%;
    color: #044C7F
}
.content-forum {
  max-width: 984px;
  background-color: #FFF;
  border-style: solid;
  border-color: #226494;
  padding: 20px;
  margin-left: 123px;
  margin-top: 23px;
  margin-bottom: 123px;
}

.post-forum {
  background-color: #FFF;
  border-style: solid;
  border-color: #226494;
  padding: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 40px;
  line-height: normal;
}

.popular, .leaderboard {
  background-color: #FFF;
  border-style: solid;
  border-color: #226494;
  padding: 5%;
}
.leaderboard {
    margin-top: 123px;
}
.popular {
    margin-top: 23px;
}
.user-name-when-posted, .replies-count{
  font-style: italic;
  color: #044C7F;
}

.a-side {
    margin-right: 123px;
    max-width: 338px;
    flex: 1;
    margin-left: 5%;
}
.next-page {
    text-align: right;
    margin: 1%;
    margin-top: 50px;
}
.forum-button {
    border-radius: 10px;
    border-style: none;
    margin-left: 123px;
    margin-top: 100px;
    position: absolute;
    right: 123px;
    width: 338px;
    height: 30px;
    flex: 1;
    color: #fff;
    background-color: #044C7F;
}
.site-top-forum a {
    text-decoration: none;
    color:#044C7F;
}
.newpost {
    background-color: #FFF;
    border-style: ridge;
    border-color: #226494;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 40px;
    line-height: normal;
}
.newtitle {
    width: 70%;
    height: 26px;
    border-style: solid;
    border-color: #044C7F;
    border-width: 2px;
    border-radius: 10px;
    margin-top: 10px;
    color: #044C7F;
    font-weight: 700;
}
.newtext {
    width: 100%;
    height: 50px;
    border-style: solid;
    border-color: #044C7F;
    border-width: 2px;
    border-radius: 10px;
    margin-top: 40px;
    color: #000;
}
.newpostbtn {
    color: #fff;
    background-color: #044C7F;
    border-style: none;
    border-radius: 5px;
    width: 80px;
    height: 20px;
    float: right;
    margin-top: -120px;
}

.postet {
    background-color: #FFF;
    border-style: solid;
    border-color: #226494;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 40px;
    line-height: normal;
}
.postettitle {
    width: 70%;
    height: 26px;
    margin-top: 10px;
    color: #044C7F;
    font-weight: 700;
}
.postettext {
    width: 100%;
    height: 50px;
    margin-top: 40px;
    color: #000;
}
/*----------profile----------*/
.first-row, .sec-row, .third-row {
    display: flex;
    font: 400 26px lato, sans-serif;
}

.first-row div, .sec-row div, .third-row div {
    margin-top: 60px;
    margin-left: 55px;
    margin-right: 55px;
    flex: 1;
    display: flex;
    flex-flow: column;
}
.first-row input, .sec-row input, .third-row input {
    position: relative;
    flex: 1;
    height: 32px;
    max-height: 32px;
    font: 18px lato, sans-serif;
    border-radius: 10px;
}
.first-row p, .sec-row p, .third-row p {
    position: relative;
    flex: 1;
    color: #044C7F;
}
.first-row p {
    top: 50px;
}

.first-row img {
    height: 125px;
    width: 125px;
    margin: 0;
}
.change {
    font-weight: 300;
    font-size: 16px;
}

select {
    flex: 1;
    border-radius: 10px;
}
