body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    line-height: 2.6em;
    color: #666;
}


/*----------Nav----------*/
.top-nav {
    margin: 0;
    max-height: 132px;
    background-color: #fff;
    position: relative;
}


#site-nav {
    padding: 42px 0 100px 0;
    position: relative;
    z-index: 1;
}

#site-nav a {
    color: #044C7F;
    display: block;
    padding: 14px 16px 0 16px;
    text-decoration: none;
    transition: opacity .3s;
}

#site-nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#site-nav li {
    display: inline;
    list-style: none;
    float: left;
    font-weight: 900;
}

#site-nav a:hover {
    border-bottom: solid;
    margin: 0;
}

/*----------Breadcrumbs----------*/
#breadcrumbs {
    height: 29px;
    width: 100%;
    background-color: #044C7F;
}


/*----------Site----------*/
.site-top {
    background-color: #F1F1F2;
    max-height: 843px;
    width: 100%;
}