body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 2.6em;
    color: #666;
}

.site-wrapper {
    display: flex;
    flex-flow: column;
}

p {
    margin: 0;
}

/*----------Nav----------*/
.top-nav {
    margin: 0;
    flex: 1;
    max-height: 132px;
    background-color: #fff;
    position: sticky;
}


#site-nav {
    text-align:center;
    /*padding: 42px 0 100px 0;
    position: relative;
    z-index: 1;*/
}

#site-nav a {
    color: #044C7F;
    display: block;
    text-decoration: none;
    transition: opacity .3s;
}

#site-nav ul {
    margin: 3% 0 0 0;
    display:inline-block;
    list-style: none;
    overflow: hidden;
}

#site-nav li {
    font-size: 24px;
    margin: 0;
    margin-right: 40px;
    display: inline;
    list-style: none;
    float: left;
    font-weight: 700;
}

#site-nav a:hover {
    border-bottom: solid;
    position: relative;
    display: inline-block;
    margin: 0;
}


#logo {
    height: 56px;
    width: auto;
    margin: 0;
    position: absolute;
    left: 38px;
    top: 38px;
}

/*----------Breadcrumbs----------*/
#breadcrumbs {
    height: 2%;
    width: 100%;
    background-color: #044C7F;
}

#breadcrumbs p {
    font-size: 12px;
    color: #fff;
    margin: 0;
    position: relative;
    top: -15px;
}


/*----------Site----------*/
.site-top {
    background-color: #F1F1F2;
    flex: 1;
    width: 100%;
}



/*----------profile----------*/
.first-row, .sec-row, .third-row {
    display: flex;
}

.first-row div, .sec-row div, .third-row div {
    margin-top: 60px;
    margin-left: 55px;
    margin-right: 55px;
    flex: 1;
    display: flex;
    flex-flow: column;
}
.first-row input, .sec-row input, .third-row input {
    position: relative;
    flex: 1;
    height: 32px;
}
.first-row p, .sec-row p, .third-row p {
    position: relative;
    flex: 1;
}

option {
    flex: 1;
}